@import './variables';

.box-ask {
  background-color: $white;
  font-family: montserratregular;
  font-size: 16px;
  line-height: 34px;
  padding: 30px;
  text-align: center;
  transition: all .3s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 20px;
  }
  .box-ask--image {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
  }
  &.box-ask--active {
    color: $white;
  }
  &.box-ask--coral {
    .box-ask--image {
      &-pet { width: 93px; background-image: url('../images/icons/coral/pet.svg'); }
      &-sun { background-image: url('../images/icons/coral/high-sun.svg'); }
      &-low-sun { background-image: url('../images/icons/coral/low-sun.svg'); }
      &-no-answer { background-image: url('../images/icons/coral/no-answer.svg'); }
    }
    &.box-ask--active {
      background: $secondary-color;
      box-shadow: 0px 22px 24px $tertiary-color;
      .box-ask--image-pet { background-image: url('../images/icons/white/pet.svg'); }
      .box-ask--image-sun { background-image: url('../images/icons/white/high-sun.svg'); }
      .box-ask--image-low-sun { background-image: url('../images/icons/white/low-sun.svg'); }
      .box-ask--image-no-answer { background-image: url('../images/icons/white/no-answer.svg'); }
    }
    &:hover {
      @extend .box-ask--active;
    }
  }
  &.box-ask--green {
    .box-ask--image {
      &-one-drop { width: 57px; background-image: url('../images/icons/green/one-drop.svg'); }
      &-two-drops { width: 79px; background-image: url('../images/icons/green/two-drops.svg'); }
      &-three-drops { width: 105px; background-image: url('../images/icons/green/three-drops.svg'); }
    }
    &.box-ask--active {
      background: $quaternary-color;
      box-shadow: 0px 22px 24px $quinary-color;
      .box-ask--image-one-drop { background-image: url('../images/icons/white/one-drop.svg'); }
      .box-ask--image-two-drops { background-image: url('../images/icons/white/two-drops.svg'); }
      .box-ask--image-three-drops { background-image: url('../images/icons/white/three-drops.svg'); }
    }
    &:hover {
      @extend .box-ask--active;
    }
  }
}

@media (max-width: 900px) {
  .box-ask {
    flex-direction: row;
    padding: 20px;
    .box-ask--image {
      width: 42px;
      height: 42px;
      background-size: cover;
      margin-right: 30px;
    }
    &.box-ask--coral {
      &.box-ask--active { box-shadow: 0px 8px 10px $tertiary-color; }
    }
    &.box-ask--green {
      &.box-ask--active { box-shadow: 0px 8px 10px $tertiary-color; }
    }
  }
}
