.btn {
  position: relative;
  height: 50px;
  padding: 15px 40px 17px;
  border-radius: 28px;
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:disabled {
    cursor: no-drop;
  }
  &-green-full {
    color: $white;
    background: $primary-color;
    transition: all .3s ease-in-out;
    border: 1px solid $primary-color;
    &:hover {
      background-color: transparent;
      border: 1px solid $primary-color;
      color: $primary-color;
      .btn-icon-white-next { background-image: url('../images/icons/green/next.png'); }
      .btn-icon-white-prev { background-image: url('../images/icons/green/prev.png'); }
    }
  }
  &-green-stroke {
    border: 1px solid $primary-color;
    box-sizing: border-box;
    border-radius: 25px;
    color: $primary-color;
    &:hover {
      background: $primary-color;
      color: $white;
      .btn-icon-green-next { background-image: url('../images/icons/white/next.png'); }
      .btn-icon-green-prev { background-image: url('../images/icons/white/prev.png'); }
    }
  }
  &-icon {
    background-size: cover;
    background-repeat: no-repeat;
    width: 21px;
    height: 17px;
    margin-right: 10px;
    &-white-next {
      background-image: url('../images/icons/white/next.png');
    }
    &-white-prev {
      background-image: url('../images/icons/white/prev.png');
    }
    &-green-next {
      background-image: url('../images/icons/green/next.png');
    }
    &-green-prev {
      background-image: url('../images/icons/green/prev.png');
    }
  }
}

@media (max-width: 900px) {
  .btn {
    &-sm-width {
      width: 100%;
    }
    &-sm-green-full {
      color: $white;
      background: $primary-color;
      transition: all .3s ease-in-out;
      border: 1px solid $primary-color;
    }
  }
}

