.header {
  width: 100%;
  text-align: center;
}

@media (min-width: 900px) {
  .header {
    &-vertical {
      width: 35px;
      margin: 30px 0 30px 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      &:after {
        content: "";
        display: block;
        flex: 1;
        margin-top: 135px;
        border: 1px solid rgba(21, 87, 63, 0.414827);
      }
      img {
        transform: rotate(-90deg);
        margin-top: 113px;
        width: 208px;
      }
    }
  }
}

@media (max-width: 900px) {
  .header {
    padding-top: 30px;
    img {
      width: 166px;
    }
  }
}