@import './variables';

.home {
  min-height: 100vh;
  &-container {
    margin: auto;
    width: 95%;
    max-width: 1130px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &-content {
    display: flex;
    flex: 1;
    &-start {
      display: flex;
      align-items: center;
      .btn {
        width: 205px;
      }
      h1 {
        font-family: montserratbold;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 80px;

        color: $black;
      }
    }
    &-illustration {
      flex: 1;
      display: flex;
      align-items: flex-end;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1190px) {
  .home-content-start h1 {
    font-size: 52px;
  }
}

@media (max-width: 900px) {
  .home {
    &-content {
      flex-direction: column;
      &-start {
        display: inline-block;
        align-items: flex-start;
        text-align: center;
        margin-bottom: 20px;
        &-text {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        h1 {
          font-size: 35px;
          line-height: 43px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
