@import 'variables';

@import 'Spinner';
@import 'Button';
@import 'Fonts';

* {
  margin: 0;
  padding: 0;
  border: none;
      box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: "montserratregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.bg-grey { background-color: #F6F6F6; }

.icon-svg { 
  width: 28px; 
  height: 28px;
  margin-right: 10px;
}

.flex { display: flex; }
.align-items-center { align-items: center; }
.flex-wrap { flex-wrap: wrap }
.justify-content-center { justify-content: center; }
.flex-direction-row { flex-direction: row; }
.flex-direction-column { flex-direction: column; }
.justify-content-flex-end { justify-content: flex-end; }
.justify-content-space-between { justify-content: space-between; }

@media (min-width: 900px) {
  .d-md-none { display: none; }
}
@media (max-width: 900px) {
  .d-sm-none { display: none; }
}

@media (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    &.container-center {
      align-items: center;
      & > .centralized-box {
        width: 100%;
        display: flex;
      }
    }
    .content {
      flex: 1;
    }
  }
}