@import './variables';

.product-detail {
  &--content {
    margin: 30px auto;
    width: 900px;
    display: flex;
  }
  .plant {
    flex: 1;
    &-name {
      font-family: montserratbold;
      font-size: 50px;
      color: #0C261C;
    }
    &-price {
      font-size: 24px;
      line-height: 29px;
      color: #D6D6D6;
    }
    &-image {
      img { width: 244px; }
    }
    &-info {
      li {
        list-style-type: none;
        font-size: 16px;
        line-height: 20px;
        color: #6E6E6E;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1050px) {
  .product-detail {
    &--content {
      width: 83%;
    }
  }
}

@media (max-width: 900px) {
  .product-detail {
    .plant {
      padding: 20px;
      &-name {
        font-size: 35px;
      }
      &-image {
        text-align: center;
      }
    }
    &--content {
      width: 100%;
      margin: 0;
      flex-direction: column;
    }
  }
}
