@import './variables';

.products {
  &-header {
    text-align: center;
    color: $grey;
    img {
      margin: 20px 0 35px;
    }
    h1 {
      font-family: "montserratbold";
      font-weight: 300;
      font-size: 65px;
      color: $black;
      margin-bottom: 45px;
    }
  }
  &-list {
    margin: auto;
    max-width: 865px;
    &--scroll {
      margin: auto;
      max-width: 865px;
    }
    &--item {
      width: 268px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1000px) {
  .products-list--scroll {
    width: 600px;
  }
  .products-list--item {
    margin-right: 30px;
  }
}
@media (min-width: 900px) {
  .products-list--item {
    &:not(:nth-child(3n - 6)) {
      margin-right: 30px;
    }
  }
}

@media (max-width: 900px) {
  .products {
    &-header {
      h1 { font-size: 40px; }
      img { width: 146px; }
    }
    &-list {
      overflow-y: hidden;
      &--scroll {
        width: auto;
        padding-left: 20px;
        white-space: nowrap;
        display: inline-block;
      }
      &--item {
        margin-right: 20px;
        display: inline-block;
      }
    }
  }
}