@import './variables';

.form {
  
  padding: 40px;
  &.center { text-align: center; }
  &-title {
    font-family: montserratbold;
    font-size: 40px;
    line-height: 37px;
    color: $black;
    margin-bottom: 20px;
  }
  &-subtitle {
    font-size: 16px;
    line-height: 29px;
    color: $grey;
    margin-bottom: 40px;
  }
  &-button {
    display: flex;
    justify-content: flex-end;
  }
  .form-input {
    &.error {
      label {
        color: $red;
      }
      input {
        &::placeholder {
          color: $red;
        }
      }
      .message {
        display: flex;
        align-items: center;
        color: $red;
        font-size: 12px;
        margin-top: 10px;
        &::before {
          content: "!";
          display: inline-block;
          margin: 0 10px 0 0;
          border-radius: 50%;
          width: 17px;
          height: 17px;
          background-color:$red;
          color: $white;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          display: flex;
          justify-content: center;
        }
      }
    }
    margin-bottom: 20px;
    label {
      font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      color: $grey;
      margin-bottom: 20px;
    }
    input {
      width: 100%;
      height: 40px;
      padding: 0 20px;
      border-radius: 40px;
      font-size: 14px;
      outline: none;
      &::placeholder {
        color: #D0D0D0;
      }
      &:-ms-input-placeholder {
        color: #D0D0D0;
      }
      &::-ms-input-placeholder {
        color: #D0D0D0;
      }
    }
    .message {
      display: none;
    }
  }
}

@media (min-width: 900px) {
  .form {
    width: 381px;
  }
}

@media (max-width: 900px) {
  .form {
    &-title {
      font-size: 30px;
    }
    &-image {
      width: 168px;
    }
  }
}
