@import './variables';

.product-item {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  &--image {
    text-align: center;
    img {
      height: 168px;
    }
  }
  &--info {
    &-price {
      flex: 1;
      p {
        font-size: 18px;
        color: $grey;
      }
    }
    &-icons {
      flex: 1;
      margin: 10px 0;
      .icon {
        width: 23px;
        height: 24px;
        display: inline-block;
        background-size: cover;
        filter: $grey;
        &:not(:last-child) { margin-right: 10px; }
        
        &.high-sun { background-image: url('../images/icons/grey/high-sun.svg'); fill:$grey; }
        &.low-sun { background-image: url('../images/icons/grey/low-sun.svg'); fill:$grey; }
        &.toxic { background-image: url('../images/icons/grey/toxic.svg'); }
        &.no-answer { width: 24px; background-image: url('../images/icons/grey/no-answer.svg'); }
        &.one-drop { width: 19px; background-image: url('../images/icons/grey/one-drop.svg'); }
        &.two-drops { width: 27px; background-image: url('../images/icons/grey/two-drops.svg'); }
        &.three-drops { width: 35px; background-image: url('../images/icons/grey/three-drops.svg'); }
      }
    }
  }
  &--name {
    font-family: montserratbold;
    font-size: 18px;
    line-height: 28px;
    color: $primary-color;
  }
}