@import './variables';

.ask {
  margin: 0 auto;
  max-width: 710px;
  &-header {
    text-align: center;
    color: $grey;
    strong {
      font-family: "montserratbold";
    }
    img {
      margin: 20px 0 40px;
    }
    h1 {
      font-family: "montserratregular";
      font-weight: 300;
      font-size: 30px;
      color: $grey;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 40px;
      color: $grey;
    }
  }
  &-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    &--item {
      flex: 1;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 900px) {
  .ask--small {
    margin: auto;
    width: 460px;
  }
  .ask-list--item {
    &:not(:last-child) { margin-right: 20px; }
  }
}

@media (max-width: 900px) {
  .ask-header {
    h1 {
      font-size: 22px;
    }
  }
  .ask-list {
    margin: auto;
    width: 90%;
    flex-direction: column;
    .ask-list--item { margin-bottom: 20px; }
  }
  .ask-pagination {
    flex-direction: column;
    align-items: center;
    .btn {
      width: 130px;
      margin-bottom: 20px;
      order: 2;
      &:last-child {
        order: 1;
      }
    }
  }
}